---
---

$section-headings-color: #606c71 !default;

@import"{{ site.theme }}";

.page-header{
  color:#000000;
  background-color:#FFCD00;
  background-image:linear-gradient(120deg,#FFCD00,#FFCD00);
}

footer {
  display: none !important;
}



